<%= content_for(:title, "Edit Line | Travel Tracker") %>

<h1>Edit Line</h1>

<%= render 'form' %>

</br>
</br>
<%= link_to "Return to All Lines", lines_path, :class => "btn btn-default" %>

</br>
<%= link_to "Return to Home Page", stations_path, :class => "btn btn-default" %></br>
</br>