<%= content_for(:title, "Edit Stop | Travel Tracker") %>

<h1>Edit Stop</h1>

<%= render 'form' %>
</br>
</br>
<%= link_to "Return to All Stops", stops_path, :class => "btn btn-default" %></br>
</br>

</br>
<%= link_to "Return to Home Page", stations_path, :class => "btn btn-default" %></br>
</br>