<%= content_for(:title, "New Stop | Travel Tracker") %>

<h1>New Stop</h1>

<%= render 'form' %>

</br>
</br>
<%= link_to "Return to Home Page", stations_path, :class => "btn btn-default" %></br>
</br>